services:
  downloader:
    image: downloader:latest
    container_name: downloader
    ports:
      - 6080:6080
      - 5901:5901
    shm_size: 2g
    build:
      context: .
    volumes:
      - ./session/:/app/session/
      - ./downloads/:/app/downloads/
    # command: 'python3 -u start.py'
